p {
  font-family: Lato;
}
li {
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 10px;
  align-items: center;
}
/* .btnclass {
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 10px;
  align-items: center;
} */
